<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
    />
  </head>
  <body
    class="flex flex-col w-screen min-h-screen p-10 bg-gray-100 text-gray-800 pt-3"
    style="overflow-x: hidden"
  >
    <%- include('navBar') %>
    <div class="flex-col mx-10">
      <h1 class="text-center text-5xl mb-15">Your Orders</h1>
      <div class="grid gap-6 md:grid-cols-2">

        <div class="overflow-x-auto relative shadow-md sm:rounded-lg m-5">
          <div class="text-center font-semibold text-2xl m-5">Pending </div>
          <table
            class=" w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="py-3 px-6">View Order</th>
                <!-- <th scope="col" class="py-3 px-6">Color</th> -->
                <th scope="col" class="py-3 px-6">Date</th>
                <th scope="col" class="py-3 px-6">Price</th>
                <th scope="col" class="py-3 px-6">Select</th>
                <th scope="col" class="py-3 px-6">Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i<pendingOrders.length;i++){ %>
                <form action="" method="POST" >
              <tr
                class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
              >
                <th
                  scope="row"
                  class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <a href="somthing">View</a>
                </th>
                <!-- <td class="py-4 px-6">Sliver</td> -->
                <td class="py-4 px-6"><%= pendingOrders[i].order_time.toLocaleDateString() %> </td>
                <td class="py-4 px-6">$<%= pendingOrders[i].totalPrice %> </td>
                <td class="py-4 px-6">
                  <% if(availableDrivers.length>0){ %> 
                  <select class="ui dropdown" required>
                    <option value="">Drivers</option>
                    <% for(let i=0;i<availableDrivers.length;i++){ %> 
                    <option value="<%= availableDrivers[i].name %>"><%= availableDrivers[i].name %> </option>
                    <!-- <option value="0">Female</option> -->
                    <% } %>
                  </select>
                <% } %> 
                <% if (availableDrivers.length===0){ %> 
                  <p>no drivers</p>
                <% } %> 
                </td>
                <% if(availableDrivers.length > 0) {%> 
                <td class="py-4 px-6"><button type="submit" style="background-color: rgb(245, 245, 245); padding:8px; border-radius: 10px; align-self: center; color: black; border: 1px solid rgb(172, 172, 172);">assign</button> </td>
                <% } %>
                <% if(availableDrivers.length === 0) {%> 
                <td class="py-4 px-6"><button type="submit" style="background-color: rgb(245, 245, 245); padding:8px; border-radius: 10px; align-self: center; color: black; border: 1px solid rgb(172, 172, 172);" disabled>assign</button> </td>
                <% } %>
              </tr>
            </form>
              <% } %> 
            </tbody>
          </table>

        </div>
        <!-- ------------------------------------------- -->
        
        <div class="overflow-x-auto overflow-y-auto relative shadow-md sm:rounded-lg m-5">
          <div class="text-center font-semibold text-2xl m-5"> Processing </div>
          <table
            class=" w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="py-3 px-6">View Order</th>
                <!-- <th scope="col" class="py-3 px-6">Color</th> -->
                <th scope="col" class="py-3 px-6">Date</th>
                <th scope="col" class="py-3 px-6">Price</th>
                <th scope="col" class="py-3 px-6">Driver</th>
                <th scope="col" class="py-3 px-6">Status</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i<confirmOrders.length;i++){ %>
              <tr
                class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
              >
                <th
                  scope="row"
                  class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  View
                </th>
                <!-- <td class="py-4 px-6">Sliver</td> -->
                <td class="py-4 px-6"><%= confirmOrders[i].order_time.toLocaleDateString() %></td>
                <td class="py-4 px-6">$<%= confirmOrders[i].totalPrice %> </td>
                <td class="py-4 px-6">
                  <a
                    href="#"
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    ><%= confirmOrders[i].driver  %> </a
                  >
                </td>
                <td class="py-4 px-6"> <%= confirmOrders[i].order_status %></td>
              </tr>
              <% } %> 
                
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
