<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
    />
</head>
<body class="bg-gray-100">
  <%- include('navbar') %> 
  <div class="min-h-screen bg-gray-100">
    <div class="container mx-auto px-8 max-w-screen-lg">
      <div class="bg-white rounded shadow p-8">
        <!--  ToastBar  -->
        <!-- Order Summary  -->
        <div>
          <h3 class="text-xl mt-4 font-bold">Order Summary</h3>
          <!--     BOX     -->
          <% if(products.length==0){ %>
            <div class="flex flex-col justify-center items-center m-5">
              <h1 class="text-2xl font-bold">Your Cart is Empty</h1>
              <a href="/customer" class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4">Shop Now</a>
            <% } %>
            
          <% for(let i=0;i<products.length;i++) {%> 
          <div class="border w-full rounded mt-5 flex p-4 justify-between items-center flex-wrap">
            <img src="<%= products[i].coverImagePath %> " class="w-15 bg-cover bg-center">
            <div class="w-2/3">
              <h3 class="text-lg font-medium"><%= products[i].title %> </h3>
              <p class="text-gray-600 text-xs">Sold by <b>Bolpur Fashion</b></p>
              <h4 class="text-red-700 text-xs font-bold mt-1">Only 2 left in stock</h4>
            </div>
            <div>
              <h4 class="text-3xl font-medium"><sup class="text-lg text-purple-800">₹</sup> <%= products[i].price %> </h4>
              <h5 class="text-sm font-bold text-purple-800">60% OFF</h5>
            </div>
            <div class="w-full flex justify-between mt-4">
              <button onclick="location.href='/customer/cart/<%= products[i].id %>'" class="text-red-700 hover:bg-red-100 px-2">Remove</button>
            </div>
          </div>
          <% } %>
        </div>
        <% if(products.length!=0){%>  
        <button class="px-4 py-6 bg-purple-700 text-white w-full mt-3 rounded shadow font-bold hover:bg-purple-900" onclick="location.href='/customer/checkout'">CHECKOUT</button>
        <% } %> 
      </div>
      </div>
  </div>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body>
</html>